<div class="remodal" data-remodal-id="more-pop" role="dialog" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="close-button"></button>
    <div class="popup-form">
        <div class="popup-form__title">Узнать подробнее</div>
        <div class="popup-form__body">
            <form>
                <div class="tpl-field popup-form__form-field required">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="tpl-field type-phone popup-form__form-field required">
                    <input type="text" placeholder="Телефон">
                </div>
                <div class="tpl-field popup-form__form-field required">
                    <input type="text" placeholder="Название компании">
                </div>
                <div class="tpl-field type-email popup-form__form-field required">
                    <input type="text" placeholder="E-mail">
                </div>
                <div class="tpl-field popup-form__form-field policity-field">
                    <label>
                        <span>Отправляя данную форму, вы соглашаетесь на обработку персональных данных</span>
                    </label>
                </div>
                <div class="popup-form__form-field submit-button">
                    <button class="tpl-form-button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<a href="#" id="scroll_top" title="Наверх" style="display: block;">
    <svg style="transform: rotate(90deg);" width="16" height="38" viewBox="0 0 16 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <desc>up</desc>
        <path d="M0.758134 20.0428L13.709 37.5703C14.1333 38.1442 14.8203 38.1432 15.2439 37.5673C15.6671 36.9915 15.666 36.0586 15.2417 35.4842L3.06172 18.9999L15.2421 2.51572C15.6664 1.94127 15.6675 1.00901 15.2443 0.433075C15.032 0.144363 14.7538 7.55882e-06 14.4756 7.5345e-06C14.1981 7.51024e-06 13.921 0.143398 13.709 0.430107L0.758134 17.9572C0.553767 18.2331 0.439087 18.6087 0.439087 18.9999C0.439087 19.3912 0.554095 19.7663 0.758134 20.0428Z" fill="#0A007F"></path>
    </svg>
</a>
<a href="#" id="scroll_bottom" title="Вниз">
    <svg style="transform: rotate(270deg);" width="16" height="38" viewBox="0 0 16 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <desc>up</desc>
        <path d="M0.758134 20.0428L13.709 37.5703C14.1333 38.1442 14.8203 38.1432 15.2439 37.5673C15.6671 36.9915 15.666 36.0586 15.2417 35.4842L3.06172 18.9999L15.2421 2.51572C15.6664 1.94127 15.6675 1.00901 15.2443 0.433075C15.032 0.144363 14.7538 7.55882e-06 14.4756 7.5345e-06C14.1981 7.51024e-06 13.921 0.143398 13.709 0.430107L0.758134 17.9572C0.553767 18.2331 0.439087 18.6087 0.439087 18.9999C0.439087 19.3912 0.554095 19.7663 0.758134 20.0428Z" fill="#0A007F"></path>
    </svg>
</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>