<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="https://gdpquadrat.com/bitrix/js/ui/bootstrap4/css/bootstrap.css?1731644492281046">
	<link rel="stylesheet" href="https://gdpquadrat.com/bitrix/cache/css/s1/gdpquadrat/page_d6092cae20ec0ca4c8919ae3569fa325/page_d6092cae20ec0ca4c8919ae3569fa325_v1.css?17437546806925">
	<link rel="stylesheet" href="https://gdpquadrat.com/bitrix/cache/css/s1/gdpquadrat/template_b5857ed7a0f98c112a4a9c5c27d073eb/template_b5857ed7a0f98c112a4a9c5c27d073eb_v1.css?1744709801250858">	
	<link rel="stylesheet" href="css/remodal-default-theme.css"/>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://gdpquadrat.com/bitrix/cache/js/s1/gdpquadrat/template_1430c1e6bc42b1ad508f7fb7c0f62cdd/template_1430c1e6bc42b1ad508f7fb7c0f62cdd_v1.js?1743741319357642" ></script>
</head>
<body>

	