include _header.jade
include _map_block.jade
<div class="container-xxl list_items">
    <h2 class="title">Продажа коммерческих участков в Подмосковье. Прямая продажа земли от собственника</h2>
    <div class="list_items_inner">
        <div class="item_block">
            <div class="left slider_block_wr">
                <div class="swiper_arrow">
                    <div class="swiper_arrow_btn-prev swiper-item1-prev"></div>
                    <div class="swiper_arrow_btn-next swiper-item1-next"></div>
                </div>
                <div class="swiper mySwiper_item1" data-id="mySwiper_item1" data-arrow="item1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="files/img-i.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="files/img-i2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="item_name">
                    <div class="name">Коммерческая земля, Москва</div>
                    <div class="square">22 га</div>
                </div>
                <div class="text">Сдается в аренду открытая площадка под хранение или стоянку транспорта. Прямая аренда земельного участка общей площадью 667 м2 удобным подъездом, круглосуточное видеонаблюдение, ...</div>
                <div class="square">22 га</div>
                <div class="btn" data-remodal-target="more-pop">Узнать подробнее</div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="item_block">
            <div class="left slider_block_wr">
                <div class="swiper_arrow">
                    <div class="swiper_arrow_btn-prev swiper-item2-prev"></div>
                    <div class="swiper_arrow_btn-next swiper-item2-next"></div>
                </div>
                <div class="swiper mySwiper_item2" data-id="mySwiper_item2" data-arrow="item2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="files/img-i.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="files/img-i2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="item_name">
                    <div class="name">Коммерческая земля, Москва</div>
                    <div class="square">22 га</div>
                </div>
                <div class="text">Сдается в аренду открытая площадка под хранение или стоянку транспорта. Прямая аренда земельного участка общей площадью 667 м2 удобным подъездом, круглосуточное видеонаблюдение, ...</div>
                <div class="btn" data-remodal-target="more-pop">Узнать подробнее</div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="item_block">
            <div class="left slider_block_wr">
                <div class="swiper_arrow">
                    <div class="swiper_arrow_btn-prev swiper-item3-prev"></div>
                    <div class="swiper_arrow_btn-next swiper-item3-next"></div>
                </div>
                <div class="swiper mySwiper_item3" data-id="mySwiper_item3" data-arrow="item3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="files/img-i.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="files/img-i2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="item_name">
                    <div class="name">Коммерческая земля, Москва</div>
                    <div class="square">22 га</div>
                </div>
                <div class="text">Сдается в аренду открытая площадка под хранение или стоянку транспорта. Прямая аренда земельного участка общей площадью 667 м2 удобным подъездом, круглосуточное видеонаблюдение, ...</div>
                <div class="btn" data-remodal-target="more-pop">Узнать подробнее</div>
            </div>
        </div>
    </div>
    <div class="btn_show_more">Показать еще</div>
</div>
<div class="container-xxl tags_list">
    <div class="swiper_arrow">
        <div class="swiper_arrow_btn-prev swiper-tag-prev"></div>
        <div class="swiper_arrow_btn-next swiper-tag-next"></div>
    </div>
    <div class="swiper mySwiper_tag" data-id="mySwiper_tag" data-arrow="tag">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="" class="tag">под промышленную застройку</a></div>
            <div class="swiper-slide"><a href="" class="tag">под производство</a></div>
            <div class="swiper-slide"><a href="" class="tag">под бизнес</a></div>
            <div class="swiper-slide"><a href="" class="tag">под коммерческую недвижимость</a></div>
            <div class="swiper-slide"><a href="" class="tag">под склад</a></div>
            <div class="swiper-slide"><a href="" class="tag">под завод</a></div>
            <div class="swiper-slide"><a href="" class="tag">под цех</a></div>
            <div class="swiper-slide"><a href="" class="tag">сельхоз назначения</a></div>
            <div class="swiper-slide"><a href="" class="tag">для инвестиций</a></div>
            <div class="swiper-slide"><a href="" class="tag">под промзону</a></div>
            <div class="swiper-slide"><a href="" class="tag">под ангары</a></div>
            <div class="swiper-slide"><a href="" class="tag">под промплощадку</a></div>
            <div class="swiper-slide"><a href="" class="tag">под свалку</a></div>
            <div class="swiper-slide"><a href="" class="tag">под ферму</a></div>
        </div>
    </div>
</div>
<div class="container-xxl content_text">
    <div class="content_text_inner">
        <h2>Земля промназначения: что это такое?</h2>
        <p>К данной категории территорий относятся земельные участки различной площади, расположенные вне пределов населённых пунктов. Основное назначение данных земель – создание благоприятных возможностей для ведения юридическими лицами производственной деятельности, обеспечения возможности эксплуатации оборудования промышленного назначения.</p>
        <p>На "промзонах" могут размещаться различные функциональные производственные помещения, цеха, склады, административные здания и иные сооружения, наличие которых необходимо для эффективного функционирования завода или фабрики.</p>
        <p>С более подробным описанием того, что представляет собой земля промназначения (ЗПН) вы можете ознакомиться, изучив информацию по теме в Земельном Кодексе Российской Федерации (глава 16). Этой же статьёй регулируются принципы организации производства на указанной категории территорий</p>
        <div class="clear"></div>
        <h2>Что можно строить на землях промышленного назначения?</h2>
        <p>На территориях промышленного назначения допускается возведение строительных объектов, по своим характеристикам и назначению соответствующих разрешённому для данных участков виду разрешённого использования. Строительство жилых домов на землях промышленного назначения не допускается. Также запрещено в промышленных зонах строить объекты социального значения: больничные стационары, школы и др. Исключено возведение объектов культуры: музеев, художественных школ, выставочных залов и др.</p>
        <p>При выявлении построек, не соответствующих регламенту, проводится судебное заседание, в ходе которого принимается решение об их демонтаже (сносе), а к владельцу участка применяются меры административного взыскания в виде штрафа.</p>
        <p>Собственник участка земли промышленного назначения имеет определённые обязательства по содержанию данных территорий, в которые входят:</p>
        <ol>
            <li>охрана окружающей среды вокруг места расположения предприятия;</li>
            <li>обеспечение сохранности сигнальных знаков (меток), с помощью которых производится обозначение границ участка;</li>
            <li>использование земель в строгом соответствии с санитарными нормативами, установленными для конкретного региона;</li>
            <li>своевременная выплата необходимых платежей за землю;</li>
            <li>планомерное освоение, на территории промышленной зоны не должно быть незадействованных участков.</li>
        </ol>
    </div>
</div>
<div id="infrastruktura">
    <div class="container-xxl infrastruktura_block">
        <h2 class="title">Промышленная инфраструктура</h2>
        <div class="part location_block_wr row py-lg-5 g-4 g-lg-5 align-items-center">
            <div class="left_block col-12 col-lg-6 col-xxl-6">
                <h2 class="part_title">Отличное <br>расположение</h2>
                <div class="part_description">
                    <p>Располагается на пересечении ж/д Павелецкого направления и Московской Кольцевой ж/д, что дает быстрый доступ к всему Московскому региону и к югу</p>
                    <p>На территории ОЭЗ «Ступино Квадрат» есть свои собственные железнодорожные пути</p>
                </div>
                <div class="row g-4 g-lg-5">
                    <div class="col-lg-6 col-6">
                        <div class="part_list_title"><span>40</span> минут</div>
                        <div class="part_list_desc">От международного аэропорта Домодедово</div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="part_list_title"><span>1</span> час</div>
                        <div class="part_list_desc">Время в пути от МКАД</div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="part_list_title"><span>5</span> минут</div>
                        <div class="part_list_desc">До пассажирской станции Павелецкого направления</div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="part_list_title"><span>20</span> минут</div>
                        <div class="part_list_desc">До города Ступино</div>
                    </div>
                </div>
            </div>
            <div class="right_block col-12 col-lg-6 mt-5 mt-lg-0">
                <img src="https://gdpquadrat.com/upload/dev2fun.imagecompress/webp/iblock/6c2/0unwdazeinhtujxedwrvz0llo8j64cn0.webp">
            </div>
        </div>
    </div>
    <div class="container-xxl pro_block_wr">
        <div class="pro_ins_wr part part4 row g-5">
            <div class="left_block col-12 col-lg-6 mt-lg-0">
                <div class="img-carousel slick-slider">
                    <img class="slick-slide" src="files/image4.jpg" alt="">
                    <img class="slick-slide" src="files/image4.jpg" alt="">
                    <img class="slick-slide" src="files/image4.jpg" alt="">
                    <img class="slick-slide" src="files/image4.jpg" alt="">
                </div>
            </div>
            <div class="right_block col-12 col-lg-6">
                <h2 class="part_title">Промышленная инфраструктура</h2>
                <div class="part_description">
                    <p>На территории ОЭЗ «Ступино Квадрат» проложены и успешно эксплуатируются все необходимые производственные мощности: газ, электричество, вода, водоотведение и очистные сооружения, построена сеть автодорог</p>
                    <h3 style="text-transform: uppercase;">Ресурсное обеспечение</h3>
                    <p></p>
                    <p>Инфраструктура ОЭЗ «Ступино Квадрат» обеспечивает бесперебойное функционирование всех производственных предприятий. Силами Управляющей компании все коммуникации подводятся к границам участков резидентов.
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-lg-6 col-12 position-relative">
                        <div class="part4_item_wrap">
                            <div class="part_list_svg">
                                <svg width="34" height="46" viewBox="0 0 34 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M33.8057 20.0363C33.8057 20.0363 29.2841 23.0417 26.7907 22.8509C24.2973 22.66 20.8256 20.1794 21.2074 17.162C21.6225 13.3927 21.4778 9.58278 20.7779 5.85583C20.1575 3.23204 17.1988 0 17.1988 0C17.1988 0 13.4527 6.9769 10.6491 9.91078C7.84554 12.8447 -0.278946 21.8371 0.00737958 28.1939C0.104249 32.7966 1.97242 37.1849 5.22328 40.4458C8.47413 43.7067 12.8574 45.5892 17.4613 45.7017C26.8981 45.7017 32.1474 39.5835 33.2927 35.3854C34.438 31.1874 33.8057 20.0363 33.8057 20.0363ZM23.7366 39.667C23.2474 41.4559 20.8137 43.4238 16.9721 43.4238C15.0914 43.4589 13.2691 42.7707 11.8814 41.5011C10.4938 40.2316 9.64695 38.4778 9.51576 36.6019C9.38453 33.8708 12.8562 30.0544 14.0493 28.8021C15.1133 27.4877 16.0481 26.0738 16.8409 24.5802C17.5225 25.2967 18.0503 26.1449 18.3918 27.0728C18.6877 28.6654 18.748 30.2928 18.5708 31.9029C18.4276 33.1791 19.895 34.2882 20.9568 34.2882C22.0336 34.1267 23.0585 33.7186 23.9513 33.0956C24.1062 35.2876 24.0342 37.4897 23.7366 39.667Z" fill="#1400C4"></path>
                                </svg>
                            </div>
                            <div class="part4_item_info">
                                <div class="part_list_title">ГРПВ 55 000 м³ газа</div>
                                <div class="part_list_desc">В парке проложена система газораспределения</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 position-relative">
                        <div class="part4_item_wrap">
                            <div class="part_list_svg">
                                <svg width="32" height="48" viewBox="0 0 32 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.7598 0C15.7598 0 0 24.5683 0 32.6782C0 40.7881 7.05074 47.3476 15.7598 47.3476C24.4689 47.3476 31.5315 40.7762 31.5315 32.6782C31.5315 24.5802 15.7598 0 15.7598 0ZM26.6401 38.9276C23.5622 43.1853 19.1122 44.032 18.5753 41.5156C18.0385 38.9991 20.4603 39.8817 23.5741 36.1487C25.6261 33.68 24.0394 29.6369 26.9742 29.5892C29.5631 29.5534 29.0262 35.5882 26.6401 38.9276Z" fill="#1400C4"></path>
                                </svg>
                            </div>
                            <div class="part4_item_info">
                                <div class="part_list_title">КОС и ЛОС</div>
                                <div class="part_list_desc">Собственные очистные сооружения на территории</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 position-relative">
                        <div class="part4_item_wrap">
                            <div class="part_list_svg">
                                <svg width="32" height="48" viewBox="0 0 32 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.7598 0C15.7598 0 0 24.5683 0 32.6782C0 40.7881 7.05074 47.3476 15.7598 47.3476C24.4689 47.3476 31.5315 40.7762 31.5315 32.6782C31.5315 24.5802 15.7598 0 15.7598 0ZM26.6401 38.9276C23.5622 43.1853 19.1122 44.032 18.5753 41.5156C18.0385 38.9991 20.4603 39.8817 23.5741 36.1487C25.6261 33.68 24.0394 29.6369 26.9742 29.5892C29.5631 29.5534 29.0262 35.5882 26.6401 38.9276Z" fill="#1400C4"></path>
                                </svg>
                            </div>
                            <div class="part4_item_info">
                                <div class="part_list_title">ВЗУ мощностью 15 000 м³</div>
                                <div class="part_list_desc">В парке проложена система водоснабжения</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 position-relative">
                        <div class="part4_item_wrap">
                            <div class="part_list_svg">
                                <svg width="29" height="45" viewBox="0 0 29 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.06697 0H25.9602L14.1254 20.1197H28.2507L6.96724 44.0678L14.5071 25.3673L0 25.1765L9.06697 0Z" fill="#1400C4"></path>
                                </svg>
                            </div>
                            <div class="part4_item_info">
                                <div class="part_list_title">100 МВт</div>
                                <div class="part_list_desc">Зарезервировано для резидентов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 position-relative">
                        <div class="part4_item_wrap">
                            <div class="part_list_svg">
                                <svg width="33" height="46" viewBox="0 0 33 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.75 0V44.6731" stroke="#1400C4" stroke-width="3" stroke-dasharray="10 10"></path>
                                    <path d="M3 0V46M30.5 0V46" stroke="#1400C4" stroke-width="5"></path>
                                </svg>
                            </div>
                            <div class="part4_item_info">
                                <div class="part_list_title">Прямой съезд с М-4</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 position-relative">
                        <div class="part4_item_wrap">
                            <div class="part_list_svg">
                                <svg width="39" height="55" viewBox="0 0 39 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 33.7733H38.5965M0 20.747H38.5965M0 46.7996H38.5965M0 8.20312H38.5965" stroke="#1400C4" stroke-width="8"></path>
                                    <path d="M7.05664 0V55M31.9576 0V55" stroke="#1400C4" stroke-width="5"></path>
                                </svg>
                            </div>
                            <div class="part4_item_info">
                                <div class="part_list_title">Ж/Д на территории парка</div>
                                <div class="part_list_desc">Введена в эксплуатацию в 2020 г.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div id="invest_form" class="row">
        <div id="comp_bfbe2dc9eace46728b653c403adca3d4">
            <div class="invest_form">
                <div class="row">
                    <div class="col-lg-5 col-xl-5 col-12">
                        <h2 class="invest_form_title">Оставьте заявку на подбор участка</h2>
                    </div>
                    <div class="col-lg-7 col-xl-7 col-12">
                        <form>
                            <input type="hidden" name="bxajaxid">
                            <input type="hidden" name="AJAX_CALL" value="Y">
                            <input type="hidden" name="sessid" id="sessid" value="812b1f6c4b1cedb0c78db97206808e0c">
                            <input type="hidden" name="WEB_FORM_ID" value="1">
                            <div class="row g-3">
                                <div class="col-lg-6 col-12 field type_text">
                                    <input placeholder="Имя" type="text" class="form-control" id="form_text_1" name="form_text_1" value="">
                                </div>
                                <div class="col-lg-6 col-12 field type_text">
                                    <input placeholder="Телефон" type="text" class="form-control phone" id="form_text_4" name="form_text_4" value="">
                                </div>
                                <div class="col-lg-6 col-12 field type_text">
                                    <input placeholder="Название компании" type="text" class="form-control" id="form_text_2" name="form_text_2" value="">
                                </div>
                                <div class="col-lg-6 col-12 field type_text">
                                    <input placeholder="E-mail " type="email" class="form-control" id="form_email_3" name="form_email_3" value="">
                                </div>
                            </div>
                            <div class="row g-3 mt-2">
                                <div class="col">
                                    <div class="invest_form_law">Отправляя данную форму,вы соглашаетесь на обработку <a href="/upload/Согласие_на_обработку_персональных_данных.pdf" target="_blank">персональных данных</a></div>
                                </div>
                                <div class="col-lg-auto col-12">
                                    <input class="btn btn-primary w-auto text-capitalize" type="submit" name="web_form_submit" value="отправить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl accor_block_wr">
    <h2 class="title">Частые вопросы</h2>
    <div class="accor_block_inner">
        <div class="accor_item">
            <div class="accor_name">Как стать резидентом ОЭЗ Ступино Квадрат?</div>
            <div class="accor_body">
                <h3>Требования к резиденту ОЭЗ прописаны в 116- ФЗ. <br>Они следующие:</h3>
                <ol>
                    <li>Первый этап — это создание нового юридического лица, которое будет зарегистрирован на территории г.о. Ступино. Также допускается перенос и перерегистрация уже существующей компании. Она должна обладать уставным капиталом не менее 10 000 рублей. Допускается один или два генеральных директора.</li>
                    <li>Составить бизнес-план, который будет предполагать внесение инвестиций на сумму не менее 120 миллионов рублей за 10 лет. В первые три года работы в качестве резидента требуется внести не менее 40 миллионов рублей.</li>
                    <li>Предоставить уставные документы, заполненную заявку на получение статуса резидента ОЭЗ, и получить решение экспертной комиссии.</li>
                    <li>Заключить соглашение с Минэкономразвития, субъектом РФ и УК.</li>
                </ol>
                <p>Важно, чтобы у организации не было за пределами ОЭЗ не было филиалов, допускается создание обособленных подразделений.</p>
                <p>Согласно действующему законодательству, статус резидента ОЭЗ дает право на получение налоговых льгот в течение 49 лет, с момента создания ОЭЗ. <br>Правительство гарантирует, что правила не будут изменены, независимо от того, какие будут вводиться законы в течение этого времени, что дает стабильность в развитии</p>
            </div>
        </div>
        <div class="accor_item">
            <div class="accor_name">Как стать резидентом ОЭЗ Ступино Квадрат?</div>
            <div class="accor_body">
                <h3>Требования к резиденту ОЭЗ прописаны в 116- ФЗ. <br>Они следующие:</h3>
                <ol>
                    <li>Первый этап — это создание нового юридического лица, которое будет зарегистрирован на территории г.о. Ступино. Также допускается перенос и перерегистрация уже существующей компании. Она должна обладать уставным капиталом не менее 10 000 рублей. Допускается один или два генеральных директора.</li>
                    <li>Составить бизнес-план, который будет предполагать внесение инвестиций на сумму не менее 120 миллионов рублей за 10 лет. В первые три года работы в качестве резидента требуется внести не менее 40 миллионов рублей.</li>
                    <li>Предоставить уставные документы, заполненную заявку на получение статуса резидента ОЭЗ, и получить решение экспертной комиссии.</li>
                    <li>Заключить соглашение с Минэкономразвития, субъектом РФ и УК.</li>
                </ol>
                <p>Важно, чтобы у организации не было за пределами ОЭЗ не было филиалов, допускается создание обособленных подразделений.</p>
                <p>Согласно действующему законодательству, статус резидента ОЭЗ дает право на получение налоговых льгот в течение 49 лет, с момента создания ОЭЗ. <br>Правительство гарантирует, что правила не будут изменены, независимо от того, какие будут вводиться законы в течение этого времени, что дает стабильность в развитии</p>
            </div>
        </div>
        <div class="accor_item">
            <div class="accor_name">Как стать резидентом ОЭЗ Ступино Квадрат?</div>
            <div class="accor_body">
                <h3>Требования к резиденту ОЭЗ прописаны в 116- ФЗ. <br>Они следующие:</h3>
                <ol>
                    <li>Первый этап — это создание нового юридического лица, которое будет зарегистрирован на территории г.о. Ступино. Также допускается перенос и перерегистрация уже существующей компании. Она должна обладать уставным капиталом не менее 10 000 рублей. Допускается один или два генеральных директора.</li>
                    <li>Составить бизнес-план, который будет предполагать внесение инвестиций на сумму не менее 120 миллионов рублей за 10 лет. В первые три года работы в качестве резидента требуется внести не менее 40 миллионов рублей.</li>
                    <li>Предоставить уставные документы, заполненную заявку на получение статуса резидента ОЭЗ, и получить решение экспертной комиссии.</li>
                    <li>Заключить соглашение с Минэкономразвития, субъектом РФ и УК.</li>
                </ol>
                <p>Важно, чтобы у организации не было за пределами ОЭЗ не было филиалов, допускается создание обособленных подразделений.</p>
                <p>Согласно действующему законодательству, статус резидента ОЭЗ дает право на получение налоговых льгот в течение 49 лет, с момента создания ОЭЗ. <br>Правительство гарантирует, что правила не будут изменены, независимо от того, какие будут вводиться законы в течение этого времени, что дает стабильность в развитии</p>
            </div>
        </div>
        <div class="accor_item">
            <div class="accor_name">Как стать резидентом ОЭЗ Ступино Квадрат?</div>
            <div class="accor_body">
                <h3>Требования к резиденту ОЭЗ прописаны в 116- ФЗ. <br>Они следующие:</h3>
                <ol>
                    <li>Первый этап — это создание нового юридического лица, которое будет зарегистрирован на территории г.о. Ступино. Также допускается перенос и перерегистрация уже существующей компании. Она должна обладать уставным капиталом не менее 10 000 рублей. Допускается один или два генеральных директора.</li>
                    <li>Составить бизнес-план, который будет предполагать внесение инвестиций на сумму не менее 120 миллионов рублей за 10 лет. В первые три года работы в качестве резидента требуется внести не менее 40 миллионов рублей.</li>
                    <li>Предоставить уставные документы, заполненную заявку на получение статуса резидента ОЭЗ, и получить решение экспертной комиссии.</li>
                    <li>Заключить соглашение с Минэкономразвития, субъектом РФ и УК.</li>
                </ol>
                <p>Важно, чтобы у организации не было за пределами ОЭЗ не было филиалов, допускается создание обособленных подразделений.</p>
                <p>Согласно действующему законодательству, статус резидента ОЭЗ дает право на получение налоговых льгот в течение 49 лет, с момента создания ОЭЗ. <br>Правительство гарантирует, что правила не будут изменены, независимо от того, какие будут вводиться законы в течение этого времени, что дает стабильность в развитии</p>
            </div>
        </div>
        <div class="accor_item">
            <div class="accor_name">Как стать резидентом ОЭЗ Ступино Квадрат?</div>
            <div class="accor_body">
                <h3>Требования к резиденту ОЭЗ прописаны в 116- ФЗ. <br>Они следующие:</h3>
                <ol>
                    <li>Первый этап — это создание нового юридического лица, которое будет зарегистрирован на территории г.о. Ступино. Также допускается перенос и перерегистрация уже существующей компании. Она должна обладать уставным капиталом не менее 10 000 рублей. Допускается один или два генеральных директора.</li>
                    <li>Составить бизнес-план, который будет предполагать внесение инвестиций на сумму не менее 120 миллионов рублей за 10 лет. В первые три года работы в качестве резидента требуется внести не менее 40 миллионов рублей.</li>
                    <li>Предоставить уставные документы, заполненную заявку на получение статуса резидента ОЭЗ, и получить решение экспертной комиссии.</li>
                    <li>Заключить соглашение с Минэкономразвития, субъектом РФ и УК.</li>
                </ol>
                <p>Важно, чтобы у организации не было за пределами ОЭЗ не было филиалов, допускается создание обособленных подразделений.</p>
                <p>Согласно действующему законодательству, статус резидента ОЭЗ дает право на получение налоговых льгот в течение 49 лет, с момента создания ОЭЗ. <br>Правительство гарантирует, что правила не будут изменены, независимо от того, какие будут вводиться законы в течение этого времени, что дает стабильность в развитии</p>
            </div>
        </div>
    </div>
</div>
include _footer.jade